@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 255, 255, 255;
  --foreground-rgb: 23, 23, 23;
  --background: rgb(var(--background-rgb));
  --foreground: rgb(var(--foreground-rgb));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 10, 10, 10;
    --foreground-rgb: 237, 237, 237;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
