@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  background: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}